@import url('https://fonts.googleapis.com/css?family=Cairo');

.Container {
  display: flex;
  flex-direction: column;
}
.SlotMachine {
  overflow: hidden;
  padding: 2em;
  display: flex;
  transition: 0.3s transform;
  transform: scale(0.5);
  margin-top: -8em;
}

.SlotMachine::after {
  position: absolute;
  content: '';
  display: block;
  height: 260px;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  left: 30px;
  background: rgba(255, 255, 255, 0.3)
}

.GradientFade {
  position: absolute;
  top: 47px;
  right: 48px;
  bottom: 47px;
  left: 48px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 93%,
    rgba(0, 0, 0, 1) 100%
  );
}

.ButtonContainer {
  margin-top: -7em;
}
