@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.Spinner {
  --icon-height: 260px;
  display: inline-block;
  height: calc(var(--icon-height) * 3);
  overflow: hidden;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 150px;
  transform: translateZ(0);
}

.Spinner:nth-child(2) {
  margin: 0 10px;
}
