.StartText {
  margin: auto;
}
.Awards {
  display: flex;
  flex-direction: row;
}

.Award {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.5em;
}

.TrophyAndPoints {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AwardGround {
  background-color: #969696;
  color: #ececec;
  box-shadow: 2px 3px 0 black;
}
.Name {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1em;
}

svg.Trophy {
  font-size: 20rem;
}

svg.TrophyPlace1 {
  fill: #ffc304;
}

svg.TrophyPlace2 {
  fill: #d7d7d7;
}

svg.TrophyPlace3 {
  fill: #ad8a56;
}
