.Awards {
  display: flex;
  flex-direction: row;
}

.Award {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 2em;
}

.NameAndTrophy {
  display: flex;
  flex-direction: column;
}

.AwardGround {
  background-color: #969696;
  color: #ececec;
}

svg.Trophy {
  font-size: 20rem;
}

svg.TrophyPlace1 {
  fill: #ffc304;
}

svg.TrophyPlace2 {
  fill: #D7D7D7;
}

svg.TrophyPlace3 {
  fill: #AD8A56;
}
