.Title {
  margin-top: -1em;
}

.Game {
  display: inline-block;
  overflow: hidden;
  box-shadow: 2px 3px 0 black;
  border: 4px solid white;
}

.BlurImage {
  min-width: 10vw;
  width: auto;
  display: block;
  max-width: 80vw;
  max-height: 65vh;
  box-sizing: border-box;
  margin: auto;
}
