.Container {
  display: flex;
  flex-direction: column;
}

.SlotMachineContainer {
  width: 401px;
  padding: 10px;
  background: white;
  box-shadow: 2px 3px 0 black;
  margin: 2.2em auto 5.3em;
}

.SlotMachine {
  position: relative;
  height: 0;
  width: 401px;
  padding-bottom: 330px;
  overflow: hidden;
}

.SlotMachineContainerFinished {
  margin-bottom: 0;
}
