.Container {
  display: block;
  width: 100%;
}

.Games {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 4em;
}

.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 30vh;
  transition: transform 1s; /* Animation */
  margin: 10px;
  text-shadow: 1px 1px black;
}

.Tile.Active {
  transform: scale(1.1);
}

.Tile.Chosen {
  transform: scale(1.5);
}


