.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 2em 0 2em;
}

.Title {
  display: inline-flex;
}

.Logo {
  height: 15em;
  width: 15em;
  pointer-events: none;
}

.Control {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.StartMasterButton {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
}

.Link {
  color: #61dafb;
}
