.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 2em 0 2em;
}
.Logo {
  height: 15em;
  width: 15em;
  pointer-events: none;
}

.Control {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.StartButton {
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: LogoSpin infinite 20s linear;
  }
}

.Link {
  color: #61dafb;
}

@keyframes LogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
