.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 2em 0 2em;
}

.Title {
  display: inline-flex;
  position: absolute;
  z-index: 10;
  top: 1em;
}

.QuestionMark {
  position: absolute;
  font-size: 12em;
  font-weight: bold;
}

.Control {
  margin-top: 2em;
  position: absolute;
  z-index: 1;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.StartMasterButton {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
}

.Link {
  color: #61dafb;
}
