.GameDescription {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Description {
  width: 80vw;
  max-height: 60vh;
  margin-bottom: 2em;
  text-align: left;
  overflow: auto;
}

.Description p {
  margin: 5px;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  font-size: 30px;
}
