.FooterRating {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.TeamButton {
  margin-right: 10px;
}

button.SkipButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5em;
}