.TeamPreparation {
  margin: 2em 0;
  max-width: 80vw;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.TeamName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-right: 25px;
}

.Colors {
  --space: 10px;
  display: grid;
  grid-template-columns: repeat(5, 10vh);
  grid-column-gap: var(--space);
  grid-row-gap: var(--space);
  width: 50%;
  cursor: pointer;
}

.ColorTile {
  height: 10vh;
  transition: transform 0.3s; /* Animation */
}

.ColorTile.Active {
  transform: scale(1.1);
  box-shadow: 0 0 0 4px white;
}

.ControlBar > button:first-of-type {
  margin-right: 10px;
}
