.Footer {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.Action {
  display: inline-block;
  font-size: 1.5em;
}

.Hints {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 70vw;
}

.Hints span {
  flex-basis: calc(33.333% - 1em);
  margin: 0 0.5em;
}