.Footer {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.Action {
  display: inline-block;
  font-size: 1.5em;
}

.Hints {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Hints span {
  flex-basis: 30%;
}