.Container {
  margin-top: 1em;
}

.Games {
  --space-column: 20px;
  --space-row: var(--space-column);
  display: grid;
  grid-template-columns: repeat(5, 26vh);
  grid-gap: var(--space-row) var(--space-column);
  margin-bottom: 2em;
  justify-content: center;
}

.ExitGame {
  background-color: #266bb0;
  height: 40vh;
  width: 40vh;
  margin-top: 20vh;
}

.Tile.AlreadyPlayed {
  background-color: rgba(0, 0, 0, 0.3);
  color: grey;
}

.ControlBar > button:first-of-type {
  margin-right: 10px;
}

.Overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
