.GameFlow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60vw;
  max-width: 80vw;
  position: relative;
  height: 100%;
}

.RoundIndicator {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Footer {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

div.Countdown {
  font-size: 3em;
}

.CountdownBetweenTeams {
  composes: Countdown from '../Countdown/Countdown.module.css';
  position: absolute;
  width: 100%;
  bottom: 0;
}

svg.Stop {
  position: absolute;
  margin-top: 0.2em;
  left: 50%;
  transform: translatex(-65%);
  font-size: 5rem;
}
