.GameFlow {
  min-width: 60vw;
  position: relative;
}

.RoundIndicator {
  margin: 0 0 2em;
}

.Footer {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

div.Countdown {
  font-size: 3em;
}

.CountdownBetweenTeams {
  composes: Countdown from '../Countdown/Countdown.module.css';
  position: absolute;
  width: 100%;
}

