.App {
  text-align: center;
  background-color: rgb(124,66,143);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: radial-gradient(circle, rgba(124,66,143,1) 2%, rgba(94,9,121,1) 35%, rgba(21,3,82,1) 100%);
  color: white;
}


