.TeamPointsCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
}

.TeamPoints {
  color: white;
}
