.TeamPointsCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
}

div.TeamPoints {
  color: white;
  height: 1.3em;
  padding: 0 0.3em;
}

.TeamPointsCounter svg,
div.TeamPoints {
  font-size: 2rem;
}
