.Form {
  width: 80vw;
}

.InputList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5em;
}

.MultipleInputs {
  justify-content: space-between;
}

.Row {
  display: block;
  flex-basis: 50%;
  position: relative;
}

.NewInput {
  width: 50%;
}

div.Input {
  margin-right: 1.5em;
  left: 0;
  width: calc(100% - 1.5em);
}

.ClearInput button {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #EA2027;
}